.page {
    width: 100vw;
}


.imageVideo {
    width: 100%;
}

.description {
    display: flex;
    align-items: center;
    padding: 5px 15px;
}

.avatar {
    width: 40px;
}

@media(min-width:600px) {
    .page {
       width: 50vw;
    }

    .imageVideo {
        width: 100%;
    }
}