.card {
    width: 45vw;
}

.card .image {
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

@media(min-width:600px){
    .card {
        width: 15vw;
    }
}